<!-- ---
import Card from "../../components/UI/Card.astro";
import ClinicalAttentionDetail from "../../components/clinicalAttention/Detail.jsx";
import BaseLayout from "../../layouts/Base.astro";
---

<BaseLayout title="SaluIA — Detalle de Atención">
  <div class="space-y-6">
    <Card>
      <ClinicalAttentionDetail client:load />
    </Card>
  </div>
</BaseLayout> -->
